# Практика 3
Теория: Функции

Булыгин Олег:  
* [LinkedIn](linkedin.com/in/obulygin)  
* [Мой канал в ТГ по Python](https://t.me/solidtalk)



1.   Вспомним args
2.   Вспомним lambda-функции и посмотрим на итераторы
3.   Напишем программу в процедурном стиле на основе функций

### Практика. Напишем функцию, которая определяет является ли слово палиндромом

Пример работы программы:
```
print(is_palindrom('Радар'))
True
```

```
print(is_palindrom('строка'))
False
```

In [ ]:
def is_palindrom(some_string):
  return some_string.lower() == some_string.lower()[::-1]

is_palindrom('строка')

False

## args and kwargs
Иногда возникает ситуация, когда вы заранее не знаете, какое количество аргументов будет необходимо принять функции. В этом случае следует использовать аргументы произвольной длины ([args и kwargs](https://habr.com/ru/company/ruvds/blog/482464/)). Они задаются произвольным именем переменной, перед которой ставится звездочка (args) или две здездочки (kwargs).

In [ ]:
# Сумму всех позиционных аргументов вычисляем с помощью sum
# *args упаковывает все позиционные аргументы в кортеж
# **kwargs упаковывает все именованные аргументы в словарь, из которого получаем значение по ключу

def sum_division(*args, **kwargs):
    print(args)
    print(kwargs)
    return round(sum(args) / kwargs['divisor'], kwargs['accuracy'])

print(sum_division(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, divisor=7, accuracy=2))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{'divisor': 7, 'accuracy': 2}
7.86

In [ ]:
# распаковка позволяет отделить создание списка аргументов от их передачи в функцию
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
params = {'divisor':7,'accuracy':2}

print(sum_division(*numbers, **params))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{'divisor': 7, 'accuracy': 2}
7.86

### Практика. Напишем функцию, которая будет находить среднюю цену квартиры по всем переданным в нее районам города

In [ ]:
district_1 = {'flat_1': 10500, 'flat_2': 11000}
district_2 = {'flat_3': 15000}
district_3 = {'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000}

In [ ]:
def get_avg_price(*districts):
    print(districts)
    cost = 0
    count = 0
    for district in districts:
        cost += sum(district.values())
        count += len(district.values())
    return round(cost / count, 2)

In [ ]:
get_avg_price(district_1, district_2, district_3)

({'flat_1': 10500, 'flat_2': 11000}, {'flat_3': 15000}, {'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000})

9333.33

## Комплексный пример

In [ ]:
students_list = [
    {"name": "Василий", "surname": "Теркин", "gender": "м", "program_exp": True, "grade": [8, 8, 9, 10], "exam": 8},
    {"name": "Мария", "surname": "Павлова", "gender": "ж", "program_exp": True, "grade": [7, 8, 9, 7, 9], "exam": 9},
    {"name": "Ирина", "surname": "Андреева", "gender": "ж", "program_exp": False, "grade": [10, 9, 8, 10], "exam": 7},
    {"name": "Татьяна", "surname": "Сидорова", "gender": "ж", "program_exp": False, "grade": [7, 8, 8, 9, 8],"exam": 10},
    {"name": "Иван", "surname": "Васильев", "gender": "м", "program_exp": True, "grade": [9, 8, 9, 6, 9, 4], "exam": 5},
    {"name": "Роман", "surname": "Золотарев", "gender": "м", "program_exp": False, "grade": [8, 9, 9, 6, 9], "exam": 6}
]

In [ ]:
def get_avg_ex_grade(students):
    sum_ex = 0
    for student in students:
        sum_ex += student['exam']
    return round(sum_ex / len(students), 2)

In [ ]:
get_avg_ex_grade(students_list)

7.5

In [ ]:
def get_avg_hw_grade(students):
    sum_hw = 0
    for student in students:
        sum_hw += sum(student['grade']) / len(student['grade'])
    return round(sum_hw / len(students), 2)

In [ ]:
get_avg_hw_grade(students_list)

8.28

In [ ]:
def get_avg_hw_grade(students, exp):
    '''
    this is my function it returns something 
    - 
    - 
    - 
    '''
    sum_hw = 0
    counter = 0
    for student in students:
        if student['program_exp'] == exp:
            sum_hw += sum(student['grade']) / len(student['grade'])
            counter += 1
    return round(sum_hw / counter, 2)

In [ ]:
help(get_avg_hw_grade)

Help on function get_avg_hw_grade in module __main__:

get_avg_hw_grade(students, exp)
    this is my function it returns something

    -
    -
    -

In [ ]:
print(get_avg_hw_grade(students_list, True))
print(get_avg_hw_grade(students_list, False))

8.08
8.48

In [ ]:
def get_avg_hw_grade(students, exp=None):
    sum_hw = 0
    counter = 0
    for student in students:
        if student['program_exp'] == exp or exp is None:
            sum_hw += sum(student['grade']) / len(student['grade'])
            counter += 1
    return round(sum_hw / counter, 2)

print(get_avg_hw_grade(students_list))
print(get_avg_hw_grade(students_list, True))
print(get_avg_hw_grade(students_list, False))

8.28
8.08
8.48

In [ ]:
def get_avg_hw_grade(students, exp=None, gender=None):
    sum_hw = 0
    counter = 0
    for student in students:
        if (student['program_exp'] == exp or exp is None) and (student['gender'] == gender or gender is None):
            sum_hw += sum(student['grade']) / len(student['grade'])
            counter += 1
    return round(sum_hw / counter, 2)

# print(get_avg_hw_grade(students_list))
# print(get_avg_hw_grade(students_list, True))
# print(get_avg_hw_grade(students_list, False))
# print(get_avg_hw_grade(students_list, True, 'м'))
# print(get_avg_hw_grade(students_list, False, 'ж'))

print(get_avg_hw_grade(students_list, None, 'ж'))
print(get_avg_hw_grade(students_list, gender='ж'))

8.42
8.42

In [ ]:
def avg_hw_by_std(students):
    for student in students:
        print(f"Студент: {student['name']} {student['surname']}, средний балл: {sum(student['grade']) / len(student['grade'])}")

avg_hw_by_std(students_list)

Студент: Василий Теркин, средний балл: 8.75
Студент: Мария Павлова, средний балл: 8.0
Студент: Ирина Андреева, средний балл: 9.25
Студент: Татьяна Сидорова, средний балл: 8.0
Студент: Иван Васильев, средний балл: 7.5
Студент: Роман Золотарев, средний балл: 8.2

In [ ]:
def main(students):
    while True:
        command = input('Введите команду')
        if command == '1':
            print(get_avg_hw_grade(students))
        elif command == '2':
            print(get_avg_hw_grade(students, None, 'ж'))
        elif command == '3':
            avg_hw_by_std(students)
        elif command == 'q':
            break

main(students_list)

Введите команду1
8.28
Введите команду2
8.42
Введите команду3
Студент: Василий Теркин, средний балл: 8.75
Студент: Мария Павлова, средний балл: 8.0
Студент: Ирина Андреева, средний балл: 9.25
Студент: Татьяна Сидорова, средний балл: 8.0
Студент: Иван Васильев, средний балл: 7.5
Студент: Роман Золотарев, средний балл: 8.2
Введите команду1
8.28
Введите командуq

## Анонимные функции, функции map и filter

[Анонимные функции](https://habr.com/ru/post/507642/) создаются при помощи инструкции lambda и используются для более краткой записи функций с одним выражением. Выполняются быстрее обычных и не требуют инструкции return.

Отсортируем словарь

In [ ]:
my_dict = {
    'id1': 654321, 
    'id2': 123456, 
    'id3': 777777
}

In [ ]:
res = {}
for sorted_value in sorted(my_dict.values()):
    for key, value in my_dict.items():
        if sorted_value == value:
           res[key] = sorted_value 

print(res)

### Отсортируем словарь без циклов

Получим список из средних цен в каждой категории товаров

In [ ]:
prices_by_categories = [[100, 200, 400, 600], [200, 500], [100, 200, 100, 100], [800, 900]]

In [ ]:
def get_avg_prices(prices):
    mean_prices = []
    for category in prices:
        mean_prices.append(sum(category) / len(category))
    return mean_prices

print(get_avg_prices(prices_by_categories))

[325.0, 350.0, 125.0, 850.0]

In [ ]:
# при помощи list comprehension

[sum(category) / len(category) for category in prices_by_categories]

### Получим список из средних цен без цикла

In [ ]:
list(map(lambda category: sum(category) / len(category), prices_by_categories))

[325.0, 350.0, 125.0, 850.0]

Решим задачу с фильтрацией структуры по гордам без цикла

In [ ]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit7': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [ ]:
result = []
for log in geo_logs:
    if 'Россия' in list(log.values())[0]:
        result.append(log)
        
print(result)

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

In [ ]:
def my_filter(log):
    return 'Россия' in list(log.values())[0]

list(filter(my_filter, geo_logs))

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [ ]:
list(filter(lambda log: 'Россия' in list(log.values())[0], geo_logs))

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

## Цикл / рекурсия / reduce ?

Напишем функцию, преобразующую произвольный список вида `['2018-01-01', 'yandex', 'cpc', 100]` (он может быть любой длины) в словарь `{'2018-01-01': {'yandex': {'cpc': 100}}}`

In [ ]:
some_list = ['2018-01-01', 'yandex', 'cpc', 100]

In [ ]:
def get_crazy_nested_dict(some_list):
    res = some_list[-1]            
    for el in reversed(some_list[:-1]):      
        res = {el: res}    
    return res
    
print(get_crazy_nested_dict(some_list))

Реализация через рекурсию

Рекурсивная функция — функция, которавя вызывает саму себя

Реализация через reduce

reduce последовательно применяет функцию-аргумент к элементам итерируемого объекта и возвращает единичное значение.

In [ ]:
from functools import reduce
res = reduce(lambda a, b: a * b, [1, 5, 7, 9])

In [ ]:
# from functools import reduce
print(reduce(lambda value, key: {key: value}, reversed(some_list)))

In [ ]:
print(reduce(lambda key, value: {value: key}, some_list))

## Ваши вопросы

In [ ]:
number = 747456

num_1 = number // 100000

print(num_1)

num_2 = number // 10000 % 10
print(num_2)

num_3 = number // 1000 % 10
print(num_3)

7
4
7

In [ ]:
my_list = ['2018-01-01', 'yandex', 'cpc', 100]
# {'2018-01-01': {'yandex': {'cpc': 100}}}

# res = 100

# for ...:
#     res = {:}

In [ ]:
weird_numb = [4, 8, 15, 16, 23, 42]

for weird_numb[-1] in weird_numb:
  print(weird_numb[-1], end=' ')

4 8 15 16 23 23

In [ ]:
for el in weird_numb:
    weird_numb[-1] = el
    print(el, end=' ')

4 8 15 16 23 23

In [ ]:
a = [1, 2, 3]
b = a
b.append(4)

print(a)