# Практика 1  
Теория: Основы Python, введение в типы данных и циклы

Булыгин Олег:  
* [LinkedIn](linkedin.com/in/obulygin)  
* [Мой канал в ТГ по Python](https://t.me/solidtalk)

## PEP

PEP (python enhanced proposal — заявки на улучшение языка python).

PEP20 – Zen of Python

Python придерживается философии, которую сформулировал Тим Петерс в 19 принципах. Её текст выдаётся интерпретатором Python по команде `import this`.

In [ ]:
import this

PEP8

PEP8 – соглашение о том, как писать код для языка python.
Ключевая идея такова: код читается намного больше раз, чем пишется. Собственно, рекомендации о стиле написания кода направлены на то, чтобы улучшить читаемость кода и сделать его согласованным между большим числом проектов. В идеале, весь код будет написан в едином стиле, и любой сможет легко его прочесть.

https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html

http://pep8online.com/

In [ ]:
print(' sdgdhg')

## Краткая запись односложных условий из if и else

In [ ]:
# это стандартная запись

num = 7

if num % 2 == 0:
    print('even')
else:
    print('odd')

In [ ]:
# можно записать и так, если в условии только if
num = 6
if num % 2 == 0: print('even')

In [ ]:
# если в условии и if и esle, то можно так
print('even') if num % 2 == 0 else print('odd')

## Изменяемые и неизменяемые типы данных

In [ ]:
some_names = ['John', 'James', 'Linda']

In [ ]:
res = some_names.sort()

print(res)

In [ ]:
print(some_names)

In [ ]:
my_str = 'Hello World'
res = my_str.lower()

print(res)
print(my_str)

In [ ]:
my_str = 'Hello World'
my_str.lower()

print(my_str)

In [ ]:
some_names = ['John', 'James', 'Linda']  
some_names.sort()
res = some_names
print(res)

print(some_names)

In [ ]:
print(id(some_names))
print(id(res))

In [ ]:
some_names = ('John', 'James', 'Linda')

res = sorted(some_names)

print(res)

Добрый день!Почему tuple(sorted(list)) работает,а tuple(list.sort()) выдаёт ошибку?Как понять в каких случаях нужно через точку работать,а в каких то через скобки?

In [ ]:
# print(type(res))

## [f-строки](https://blog.solidtalk.ru/f_strings)

Добавляя префикс f к строке можно встраивать в нее произвольные выражения при помощи фигурных скобок – { }.

Можно разделять периоды чисел любым разделителем

In [ ]:
year_salary = 10000000
result = f"Годовая зарплата: ${year_salary :,}"
print(result)

Годовая зарплата: $10,000,000

Можно представлять числа с округлением до нужного количества знаков

In [ ]:
pi_value = 3.141592653589793

print(f"Число Пи: {pi_value :.2f}")

Число Пи: 3.14

## Практика

Выведите результат в виде:
```
Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians.
```

In [ ]:
planet = 'pluto'
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390

In [ ]:
print(f"{planet.capitalize()} weights about {pluto_mass :.1e} kilograms ({pluto_mass/ earth_mass  :.3%} of Earth's mass). It is home to {population :,} {planet}nians.")

Pluto weights about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 plutonians.

In [ ]:
some_str = 'hello world'
print(some_str.title())
print(some_str.capitalize())

Hello World
Hello world

## Гипотеза Сиракуз

Гипотеза Сиракуз гласит, что любое натуральное число сводится к единице при следующих действиях над ним: 

а) если число четное, то разделить его пополам, 

б) если число нечетное, то умножить его на 3, прибавить 1 и результат разделить на 2. 

Над вновь полученным числом вновь повторить действия a) или б) в зависимости от четности числа. Рано или поздно число станет равным 1.

Напишем программу, проверяющую гипотезу Сиракуз. Пусть пользователь вводит любое натуральное число. Будем выполнять в цикле над ним вышеуказанные действия, пока оно не станет равным 1. Если гипотеза верна, то рано или поздно цикл закончится, а если нет - то произойдет зацикливание программы.

In [ ]:
n = int(input())

counter = 0
while n != 1:
    if n % 2 == 0:
        n /= 2
        # n = n / 2
    else:
        n = (n * 3 + 1) / 2
    counter += 1

print(n, counter)

34856824627265256724245724245745457454574224572424752424524574545645456
1.0 420

In [ ]:
# n = n + 1
# n += 1

# n = n - 10
# n -= 1

## else и циклы

Напишем игру "Угадай число"

In [ ]:
import random

number = random.randint(1, 100)
print(number)
max_tries = 3
tries = 0

while tries < max_tries:
    guess = int(input('Назови свой вариант'))
    if guess < number:
        print('Загаданное число больше')
    elif guess > number:
        print('Загаданное число меньше')
    else:
        print('Вы победили!')
        break
    tries += 1
else: 
    print('Вы проиграли')
    print('Было загадано число:', number)

97
Назови свой вариант97
Вы победили!

## Практика

Определите длину каждого из этих списков

In [ ]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

Выведем на экран список всех слов длиннее n букв из текста

In [ ]:
text = 'Python — высокоуровневый язык программирования, ориентированный на повышение производительности разработчика и читаемости кода.'
n = 4

In [ ]:
word_list = []

for word in text.split():
    word = word.strip(',!.:?')
    if len(word) > n:
        word_list.append(word)

print(word_list)

['Python', 'высокоуровневый', 'программирования', 'ориентированный', 'повышение', 'производительности', 'разработчика', 'читаемости']

## Сумма элементов по главной диагонали в матрице

In [ ]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [ ]:
result = 0
index = 0
for row in data:
    # print(row)
    result += row[index]
    index += 1

print(result)

103

In [ ]:
result = 0
for row in data:
    # print(row)
    result += row[1]

print(result)

143

А теперь посчитаем сумму элементов по **обратной** диагонали в квадратной матрице

In [ ]:
result = 0
index = -1
for row in data:
    result += row[index]
    index -= 1

print(result)

124

## Выведем фамилии построчно с указанием профессии в виде:
```
IT:  
Гейтс  
Джобс  
Возняк  

Физика:  
Эйнштейн  
Фейнман  

Математика:  
Эвклид  
Ньютон
```

In [ ]:
professions = ['IT', 'Физика', 'Математика']
persons = [['Гейтс', 'Джобс', 'Возняк'], ['Эйнштейн', 'Фейнман'], ['Эвклид', 'Ньютон']]

In [ ]:
for pro, names in zip(professions, persons):
    print(f'{pro}:')
    for name in names:
        print(name)
    print()

IT:
Гейтс
Джобс
Возняк

Физика:
Эйнштейн
Фейнман

Математика:
Эвклид
Ньютон

In [ ]:
for pro, names in zip(professions, persons):
    print(f'{pro}:')
    print('\n'.join(names))
    print()

IT:
Гейтс
Джобс
Возняк

Физика:
Эйнштейн
Фейнман

Математика:
Эвклид
Ньютон

Получим такой же результат без вложенного цикла

In [ ]:
list(zip(professions, persons))

[('IT', ['Гейтс', 'Джобс', 'Возняк']),
 ('Физика', ['Эйнштейн', 'Фейнман']),
 ('Математика', ['Эвклид', 'Ньютон'])]

In [ ]:
word = 'testingr'

print(len(word) // 2 - 1)
print(len(word) // 2 + 1)

3
5

In [ ]:
print(0.1 + 0.1 + 0.1)
print(0.1 + 0.15 + 0.05)

print(0.1 + 0.1 + 0.1 == 0.1 + 0.15 + 0.05)

0.30000000000000004
0.3
False

In [ ]:
visits_Oleg = ['Italy', 'Spain', 'German', 'China', 'Peru']
visits_Kate = ['Cuba', 'Greece', 'Turkey', 'France', 'Italy', 'USA']

In [ ]:
result = False
for country in visits_Oleg:
    # print(country)
    if country in visits_Kate:
        result = True
        break
# print('Страны в списках вообще не пересекаются')

if result == True:
    print('Общие страны есть!')
else:
    print('Страны в списках вообще не пересекаются')

Общие страны есть!

## Рекомендуемые материалы:

1. Тренажеры: https://t.me/solidtalk/94

2. Литература:
 - А Byte of Python [англ. версия](https://python.swaroopch.com/), [рус. перевод](https://wombat.org.ua/AByteOfPython/AByteofPythonRussian-2.02.pdf). Легально, бесплатно, без СМС и регистрации.
 - Адитья Бхаргава, Грокаем алгоритмы. [На бумаге](https://bit.ly/3c4Drq3), [Электронная](https://bit.ly/3IWxklj). Бесплатно сами.

3. Визуализатор исполнения кода: http://pythontutor.com/visualize.html#mode=edit

 Он может очень сильно помочь на начальном этапе изчения Python, когда вы пишите свои собственные программы, но ещё не понимаете как именно работает ваш код. Самые частые ошибки новичков – это непонимание границ выполнения ключевых этапов работы программы. Порой очень хороший код не будет работать из-за одной маленькой ошибки.

**Установка  и настройка Anaconda**


https://www.anaconda.com/distribution/

1. Запустите скачанный инсталлятор. В первом появившемся окне необходимо нажать “Next”.
2. Далее следует принять лицензионное соглашение.
3. Выберете одну из опций установки:

    * Just Me – только для пользователя, запустившего установку;
    * All Users – для всех пользователей. (для тех, кто планирует выйти за пределы анализа данных)
    
4. Укажите путь, по которому будет установлена Anaconda.
5. Укажите дополнительные опции:

    * Add Anaconda to the system PATH environment variable – добавить Anaconda в системную переменную PATH
    * Register Anaconda as the system Python  – использовать Anaconda, как интерпретатор Python по умолчанию.

6. Для начала установки нажмите на кнопку “Install”
7. После установки программы запустите Jupyter Notebook  (наберите его в поиске)
8. В результате запустится веб-сервер и среда разработки в браузере.
9. Создайте ноутбук для разработки, для этого нажмите на кнопку New (в правом углу окна) и в появившемся списке выберете Python.

## Ваши вопросы ^_^